*{
    margin: 0;
}

html{
    display: block;
    background-image: url(/image/silver-imac-24-dark-mode-wallpaper-v0-tsl009fbd8ya1.webp);
    line-height: 26px;
    letter-spacing: .3px;
    font-weight: 400;
    font-family: sans-serif;
}

body{
    margin: 4vw;
    margin-top: 0;
    display: block;
    background-color: rgba(80, 80, 80, 0.4);
    color: aliceblue;
}

.top-nav{
    display: flex;
    align-items: center;
    width: 92%;
    height: 70px;
    position: fixed;
    background-color: #1e1e1e;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
}

nav > ul{
    margin-left: auto;
    margin-right: 8%;
}

nav > ul > li{
    display: inline-block;
    padding: 5px;
}

a:link{
    font-size: larger;
    color: aliceblue;
}

a:visited{
    color:bisque
}

a:hover{
    color: rgb(245, 128, 147)
}

.letter-head{
    margin-left: 5%;
}

.letter-head h3{
    text-decoration: dashed;
}

.cat-icon{
    margin-left: 50%;
    width: 70px;
}

.hamburger-icon{
    display: none;
}

header{
    padding-top: 10px;
    height: 340px;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
    text-align: center;
    background-image: url(/image/sleep.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

header h1{
    margin-top: 60px
}

header p{
    margin-top: 20px;
    font-size: larger;
}

main{
    margin-left: 5%;
    padding: 1%;
}

h3{
    font-weight: bold;
    text-decoration: underline;
}

.benefit h3{
    margin-top: 40px;
    margin-left: 15px;
}
.benefit p{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 28px;
    margin-right: 5%;
}

.grid-image{
    margin: auto;
    margin-right: 5%;
    padding: 10px;
}

.grid-image ul{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(60px,auto));
    grid-auto-flow: dense;
    grid-gap: 4px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.grid-image ul li{
    color: transparent;
}

.grid-image ul li img{
    border-radius: 5px;
}

.grid-image ul li:nth-child(1){
    grid-row: span 1;
    grid-column: span 1;
}

.grid-image ul li:nth-child(2){
    grid-row: span 1;
    grid-column: span 2;
}

.grid-image ul li:nth-child(3){
    grid-row: span 1;
    grid-column: span 3;
}

.grid-image ul li:nth-child(4){
    grid-row: span 1;
    grid-column: span 4;
}

.grid-image ul img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.anatomy{
    position: relative;
    margin-bottom: 100px;
    margin-top: 50px;
}

figure{
    float: left;
}

figure img{
    flex: auto;
    width: 40vw;
    margin-top: 0px;
    border-radius: 5px;
    margin-left: 3%;
}

.anatomy h3{
    float: inline-start;
    margin-right: auto;
    padding: 10px;
    margin-left: 50%;
}

.anatomy ul li{
    float: inline-start;
    font-size: large;
    margin-left: 50%;
    margin-right: 5%;
}

.tips{
    position: inherit;
    margin-top: 38vw;
    margin-left: 1%;
}
.tips ol li{
    font-size: large;
}

.section-video{
    margin-top: 40%;
    display: block;
    text-align: center;
    margin-right: 5.5%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.section-video h3{
    margin-bottom: 1%;
    text-decoration: underline;
}

.section-form{
    margin-left: 0%;
    background-color: rgba(53, 52, 52, 0.8);
    margin-right: 5.5%;
    padding: 40px 10px;
    text-align: center;
    position: relative;
}

fieldset{
    max-width: 500px;
    margin:auto;
    margin-top: 10px;
    text-align: left;
    padding: 20px 20px
    
}

#fullname{
    display: block;
    width: 50%;
    margin-bottom: 10px;
}
#email{
    display: block;
    width: 50%;
    margin-bottom: 10px;

}

#think-about{
    margin-bottom: 5px;
}

#radio{
    margin-bottom: 3px;
}

#tell-us{
    margin-top: 10px;
    margin-bottom: 5px;
}

textarea{
    width: 99%;
}

#photo{
    margin-bottom: 10px;
}

#upload{
    margin-top: 3px;
}

button{
    margin-top: 10px;
    margin-left: auto ;
    margin-right: auto;
    color: rgb(60, 17, 110);
    padding: 5px 30px;
    font-size: larger;
    font-family: fantasy;
}

footer{
    align-items: center;
    text-align: center;
    margin: 2%;
    padding: 2%;
    font-style: oblique;
    border-top: #c5c1c1 5px double;
}

@media screen and (max-width: 810px){
    nav > ul > li{
        display: none;
    }

    nav > span{
        justify-content: space-between;
    }

    nav > .cat-icon{
        margin: auto;
    }

    h3{
        font-size: large;
    }

    .letter-head{
        margin-left: 12%;
        margin-right: 0;
        font-size: medium;
    }

    .hamburger-icon{
        display: block;
        align-items: center;
        width: 35px;
        margin-left: 60%;
    }

    .benefit h3{
        text-align: center;
        margin-right: 5%;
        margin-top: 2%;
    }
    
    .benefit p{
        text-align: center;
        margin-right: 10%;
        font-size: medium;
    }

    .anatomy ul li{
        margin-right: 10%;
        font-size: medium;
    }

    .tips{
        margin-top: 30%;
    }

    .tips ol li{
        margin-left: 0;
        margin-right: 10%;
        font-size: medium;
    }

    .grid-image ul li:nth-child(1){
        grid-row: span 2;
        grid-column: span 2;
    }
    .grid-image ul li:nth-child(2){
        grid-row: span 2;
        grid-column: span 6;
    }

    .grid-image ul li:nth-child(3){
        grid-row: span 1;
        grid-column: span 4;
    }

    .grid-image ul li:nth-child(4){
            grid-row: span 1;
            grid-column: span 4;
    }

    iframe{
        width: 400px;
        height: 200px;
    }
  
}

@media screen and (max-width: 500px){
    .benefit p{
        font-size: small;
        line-height: 20px;
    }
    .anatomy ul li{
        font-size: smaller;
        line-height: 20px;
    }
    .tips ol li{
        line-height: 20px;
        font-size: smaller;

    }

    .section-video h3{
        font-size: medium;
    }

    iframe{
        width: 300px;
        height: auto;
    }

    .section-form h2{
        font-size: medium;
    }

    textarea{
        width: 100%;
        display: block;
    }

}

@media screen and (max-width: 370px){
    .cat-icon{
        margin-left: 25%;
    }

    .letter-head{
        margin-left: 10%;
    }

    figure img{
        margin-top: 20%;
        margin-bottom: 1%;
    }

    .tips h3{
        margin-top: 1%%;
    }

    .loyalty div{
        font-size: smaller;
    }

    iframe{
        width: 200px;
        height: auto;
    }
    #upload{
        max-width: 190px;
    }

}