html{
    display: block;
    background-color: #b5b5b5;
}

body{
    margin: 4vw;
    margin-top: 0;
    display: block;
    background-color: rgba(80, 80, 80, 0.9);
    color: aliceblue;
}

nav{
    display: flex;
    align-items: center;
    width: 91.9%;
    height: 70px;
    position: fixed;
    background-color: #1e1e1e;
    border-radius: 2px;
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav > ul{
    margin-left: auto;
    margin-right: 80px;
}

nav > ul > li{
    display: inline-block;
    padding: 5px;
}

header{
    padding-top: 50px;
    height: 340px;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
    text-align: center;
    background-image: url(/image/sleep.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

nav header main{
    border: 1px, solid;
}